<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <GoodsItem
      v-slot="_item"
      :item="item"
      v-for="item in lists"
      :key="item._id"
    >
      <div class="cart">
        <img @click="setCart(_item._id)" src="@/assets/cart.png" alt="" />
      </div>
    </GoodsItem>
  </div>
</template>

<script>
import GoodsItem from "@/components/conp.vue";
// import Vue from "vue";
export default {
  name: "HomeView",
  components: {
    GoodsItem,
  },
  data(){
    return {
      lists: [],
    }
  },
  methods: {
    getGoodlist(){
      fetch("https://dahua0822-api.herokuapp.com/goods")
      .then((res) => res.json())
      .then((data)=> {
        this.lists = data.data;
      });
    }
  }
};
</script>
