<template>
    <div class="goods-item">
        <div class="left">
            <img :src="item.image" alt="商品主图" />
        </div>
        <div class="middle">
        <p class="name">{{ item.name }}</p>
        <p></p>
        <p class="price">¥{{ item.price }}</p>
        </div>
        <slot v-bind="item"></slot>
    </div>
</template>
<script>
export default {
    props:["item"],
}
</script>
<style lang="scss" scoped>

</style>
